/* font style */
* {
  padding: 0%;
  margin: 0%;
  font-family: yek;
}
@font-face {
  font-family: yek;
  src: url(../fonts/farsi/IRANYekanWeb-Medium.eot);
  src: url(../fonts/farsi/IRANYekanWeb-Medium.ttf);
  src: url(../fonts/farsi/IRANYekanWeb-Medium.woff);
  src: url(../fonts/farsi/IRANYekanWeb-Medium.woff2);
}
.b {
  font-weight: bold;
  font-size: 18px;
}
.normal {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.336);
}
.small {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.336);
}
/* font style */
div{
  box-sizing: border-box;
}

.login {
  width: 28%;
  height: 435px;

  margin: 130px auto;
  border: 1px rgba(128, 128, 128, 0.313) solid;
  border-radius: 10px;
  box-sizing: border-box;
}
.login .logo {
  width: 100%;
  height: 90px;
  text-align: center;
  padding-top: 30px;
  box-sizing: border-box;
}
.login .logo svg {
  transform: scale(1.3, 1.3);
  margin-top: 10px;
}
.login .cotent {
  width: 100%;
  height: calc(435px - 90px);
  padding: 0px 30px 0px 30px;
  box-sizing: border-box;
}
.login .cotent p {
  margin: 20px 0;
}
.login .cotent input,
.login .cotent label {
  display: block;
}
.login .cotent input {
  width: 95%;
  height: 45px;
  border: 1px solid red;
  border-radius: 10px;
  padding-right: 10px;
}
.login .cotent input:focus {
  outline: #e94155;
}
.login .cotent label {
  color: red;
  margin-top: 10px;
  font-size: 12px;
}
.login .cotent button {
  width: 100%;
  background-color: #e94155;
  border-radius: 10px;
  border: none;
  height: 50px;
  color: white;
  margin-top: 20px;
  margin-bottom: 5px;
}
.login .cotent button:hover {
  cursor: pointer;
}
.login .cotent p a {
  text-decoration: none;
}
.login .cotent p a:link {
  color: rgb(80, 145, 230);
}
