div.story2 {
  width: 100%;
  height: 130px;
  box-shadow: 0 2px 3px lightgray;
  text-align: center;
}
div.story2 > div {
  width: 80px;
  height: 130px;
  display: inline-block;
  margin: 0 30px;
}
div.story2 > div > a > img {
  width: 50px;
  margin-top: 30px;
  border-radius: 50%;
  outline: 2px red solid;
  outline-offset: 3px;
}
div.story2 > div > a > p {
  margin-top: 10px;
}
